.service {
  margin: 2rem 0;
}

.service header {
  display: flex;
  align-items: center;
}

.service header h2 {
  margin: 0;
}

.service .latency {
  margin-left: 0.5em;
  color: hsl(0, 0%, 45%);
}

.service .emoji {
  font-size: 2em;
  margin-right: 0.5em;
}

.service .description {
  margin-top: 1em;
}
