html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
  font: 16px/1.5 system-ui, sans-serif;
}

h1:first-child {
  margin-top: 0;
}

.error {
  background: pink;
  padding: 1rem;
  border-radius: 0.15rem;
}
